<!DOCTYPE html>
<head></head>
<body bgcolor="cyan">
    <h2 ><center><strong>Form</strong></center></h2>
    <h2><center>New registration</center></h2>
    <form>
        Name:
        <input type="text" name="name" placeholder="Please inter your name">
<br>
        Address:
        <textarea name="address"></textarea>
        <br>

        Gender:
        <input type="radio" value="M" name="Gender">Male
        <input type="radio" value="F" name="Gender">Feale
        <input type="radio" value="M" name="Gender">Other
        <br>


        Nation:
        <select>
        <optgroup level="Asia">
            <option value="India">India</option>
            <option value="abc">abc</option>
            <option value="pqr">pqr</option>
            <option value="xyz">xyz</option>
        </optgroup>
    </select>
    <br>
    <input type="submit" vale="Send">
    <input type="reset" vale="reset">



    
    </form>

</body>
</html>